<%= form_tag("crawler_web", method: "get") do %>
  <%= select :source, params[:source], Settings.option_crawler %>
  <%= submit_tag "Crawler" %>
<% end %>

<%= link_to "Export", export_file_path(format: :xlsx ) %></br>

<h2>Import Company</h2>
<%= form_tag import_file_path, multipart: true do %>
  <%= file_field_tag :company_file %>
  <%= submit_tag "Import" %>
<% end %>
<%= @jobs.count %> Job</br>
<%= @companies.count %> Company</br>